body {
    font-family: 'Times New Roman', cursive;
    margin: 0;
    padding: 0;
    background: url('static/images/1.jpg') center/cover no-repeat fixed;
}

header {
    background-color: #333;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

nav {
    background-color: #4CAF50;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    background-color: #333;
    color: #4CAF50;
}

form {
    float: right;
    margin-top: 14px;
    margin-right: 16px;
}

form label {
    margin-right: 8px;
    color: white;
}

form input[type="text"] {
    padding: 8px;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    outline: none;
}

form button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #333;
}

section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    transition: box-shadow 0.3s;
}

section:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    margin: 0;
    font-size: 1.8em;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
    font-size: 1.2em;
}

.book-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.book-item:hover {
    background-color: #f9f9f9;
}

.book-info {
    float: left;
    width: 70%;
}

.book-action {
    float: right;
    width: 30%;
    text-align: center;
}

.book-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.book-author {
    color: #777;
}

.book-accept,
.book-revoke {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book-revoke {
    background-color: #f44336;
}

.book-accept:hover,
.book-revoke:hover {
    background-color: #333;
}

.btn-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    appearance: none;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

select:after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

select:hover,
select:focus {
    border-color: #4CAF50;
}

option {
    background-color: #fff;
}

select:focus,
select:active {
    outline: none;
    border-color: #333;
}